<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Fartuquin</title>
    <link rel="stylesheet" href="/estilosGenerales/normalize.css">
    <link rel="stylesheet" href="contacto.css">
    <link rel="stylesheet" href="/estilosGenerales/menu.css">
    <link rel="stylesheet" href="/estilosGenerales/darkMode.css">
    <script src="/scripts/menu.js"></script>
    <script src="https://kit.fontawesome.com/fb2a479feb.js" crossorigin="anonymous"></script>
</head>
<body>

    <!--Menu lateral-->
    <section class="menu">

        <section class="menuLogo">
            <a href="/index/index.html"><img src="/imagenes/logoNegro.jpeg" alt=""></a>
        </section>

        <section class="menuLista">
            <nav>
                <ul>
                    <li><a href="/carta/carta.html">Carta</a></li>
                    <li><a href="/premios/premios.html">Premios</a></li>
                    <li id="li-desplegable">
                        <a onclick="toggleMenu()" href="#">Fartucate</a>
                        <ul id="menuLista-desplegable">
                            <li><a href="/fartucate/fartucate.html">Pide tu comida</a></li>
                            <li><a href="/reserva-mesa/mesa.html">Reserva tu mesa</a></li>
                        </ul>
                    </li>
                    <li><a href="/contacto/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </section>

        <!-- <section class="menuLogIn">
            <form action="" method="post">
                <input type="text" placeholder="Usuario">
                <input type="text" placeholder="Contraseña">
            </form>
        </section> -->

        <section id="btn-oscuro-container">
            <section id="btn-oscuro">
                <div id="btn-oscuro-bola"></div>
            </section>
        </section>

    </section>

    <!-- Resto pagina -->
    <section class="pagina">

        <section class="contacto">
            <h1>CONTACTANOS</h1>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis corporis maxime recusandae, nesciunt deleniti et! Architecto quod natus assumenda excepturi obcaecati quibusdam praesentium consequuntur eaque deleniti, iure, tempore suscipit culpa modi hic, officiis officia voluptatibus in ducimus quos sint nemo possimus perspiciatis est. Officia aliquid praesentium rem pariatur possimus nam!</span>
            <br><br>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis corporis maxime recusandae, nesciunt deleniti et! Architecto quod natus assumenda excepturi obcaecati quibusdam praesentium consequuntur eaque deleniti, iure, tempore suscipit culpa modi hic, officiis officia voluptatibus in ducimus quos sint nemo possimus perspiciatis est. Officia aliquid praesentium rem pariatur possimus nam!</span>
        </section>

        <section class="form-contacto">
            <form action="" id="form">
                <input type="text" placeholder="Nombre" name="nombre">
                <input type="text" placeholder="Apellidos" name="apellidos">
                <input type="text" placeholder="Email" name="email">
                <textarea name="mensaje" id="mensaje" cols="30" rows="10" placeholder="Comentarios adicionales/alergias"></textarea>
            </form>
        </section>

    </section>
    <script src="/scripts/darkmode.js"></script>
</body>
</html>