* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../img/fondoMosaico.jpeg);
    background-repeat: none;
    background-attachment: fixed; 
}

.slide {
    align-items: center;
	background-color: var(--fondo-cosas);
}

.slide img {
    max-height: 80%;
}

/*Pq el fartu*/
.motivos {
    width: 100%;
	margin-top: 10vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
	background-color: var(--fondo-cosas);
}

.motivos h1 {
    text-align: center;
    font-size: 3em;
}

.motivos-fotos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 40%;
}

.motivos-fotos img {
    border-radius: 10px;
}

.motivos p {
    padding: 6%;
}

/*Recomendaciones*/
.recomendaciones {
    width: 100%;
	margin: 10vh 0;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
	background-color: var(--fondo-cosas);
}

.recomendaciones h1 {
    text-align: center;
    font-size: 3em;
}

.recomendaciones-fotos {
    width: 80%;
    display: flex;
    justify-content: center;
    height: 60%;

}

.recomendaciones-fotos img {
    max-width: 30%;
    max-height: 70%;
}

.recomendaciones-fotos img:nth-child(2n) {
    position: relative;
    top: 15%;
}