
<div th:fragment="footer" class="bg-dark">
	
	<div class="container">
	
		<div class="row gy-3 text-secondary">
	
	          <div class="col-lg-3 d-flex row text-center">
	              <h4 class="text-white">Dónde nos encontrarás</h4>
	              <span> Fartuquín</span>
	              <span>Carpio 19 y Oscura 20</span>
	              <span>33009 - Oviedo</span>
	              <span>España</span>
	          </div>
	          <!--
	          <div class="col-lg-2 col-md-6 d-flex row">
	              <h4>Contacto</h4>
	              <span>Si deseas contactar con nosotros escríbenos un email o llámanos por teléfono:</span>
	              <a href="#">elfartuquin@gmail.com</a>
	              <span>+34 985.229.971</span>
	          </div>
	          -->
	          <div class="col-lg-3 d-flex row text-center">
	              <h4 class="text-white">Horario de apertura</h4>
	              <span>Lunes a viernes de 12:00 a 16:00 y de 19:30 a 24:00</span>
	              <span>Sábados y festivos de 13:00 a 16:00 y de 19:30 a 24:00</span>
	              <span>Los domingos descansamos</span>
	          </div>
	          <div class="col-lg-3 d-flex row text-center">
				  
	              <h4 class="text-white">Social Media</h4>
					  
		          <a href="#"><i class="fa-brands fa-facebook"></i></a>
		              
		          <a href="#"><i class="fa-brands fa-twitter"></i></a>
		              
		          <a href="#"><i class="fa-brands fa-pinterest"></i></a>
		              
		          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
	                      
	              
	          </div>
	              
	          <div class="col-lg-3 d-flex row text-center">
				  
	              <h4 class="text-white">Legal</h4>
	              
	              <a href="https://elfartuquin.es/aviso-legal/">Aviso Legal</a>

	              <a href="/">Inicio</a>

	              <a href="https://elfartuquin.es/politica-de-privacidad/">Política de Privacidad</a>

	          </div>
	          
	 	</div>
     
     </div>	     
          
</div>