<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Fartuquin</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/carrusel.css">
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/premios.css">
    <link rel="stylesheet" href="../css/darkMode.css">
    <link rel="stylesheet" href="../css/footer.css">
    <script src="../js/menu.js"></script>
    <script src="https://kit.fontawesome.com/fb2a479feb.js" crossorigin="anonymous"></script>
</head>
<body>

	<section th:insert="menu::menu"></section>

    <section class="pagina">

        <!-- Carrusel -->
        <section class="carrusel">
            <!-- Contenedor -->
            <section class="slider-wrapper">
                <!-- Flecha hacia atras -->
                <button class="slide-arrow" id="slide-arrow-prev">
                    &#8249;
                </button>
                <!-- Flecha hacia delante -->
                <button class="slide-arrow" id="slide-arrow-next">
                    &#8250;
                </button>
                <!-- Contenedor de cada porcion-->
                <ul class="slides-container" id="slides-container">
                  <li class="slide">
                      <img src="../img/premio1.jpeg" alt="">
                      <section class="infoPremio">
                        <h1>#1 Ranking Celicidad 2022</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum eos excepturi eum deleniti! Neque deserunt, optio cum repudiandae mollitia fugit debitis eos in illum natus, asperiores quisquam aliquam earum ipsa.</p>
                        <a href="#premio1">Mas info</a>
                      </section>
                  </li>
                  <li class="slide">
                    <img src="../img/premio2.jpg" alt="">
                    <section class="infoPremio">
                      <h1>“orgullosos” la “Mención especial del Antroxu”</h1>
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum eos excepturi eum deleniti! Neque deserunt, optio cum repudiandae mollitia fugit debitis eos in illum natus, asperiores quisquam aliquam earum ipsa.</p>
                      <a href="#premio2">Mas info</a>
                    </section>
                  </li>
                  <li class="slide">
                    <img src="../img/premio3.jpeg" alt="">
                    <section class="infoPremio">
                      <h1>Precio nacional gastronomia</h1>
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum eos excepturi eum deleniti! Neque deserunt, optio cum repudiandae mollitia fugit debitis eos in illum natus, asperiores quisquam aliquam earum ipsa.</p>
                      <a href="#premio3">Mas info</a>
                    </section>
                  </li>
                  <li class="slide">
                    <img src="../img/premio4.jpeg" alt="">
                    <section class="infoPremio">
                      <h1>Premios FACE 2018</h1>
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum eos excepturi eum deleniti! Neque deserunt, optio cum repudiandae mollitia fugit debitis eos in illum natus, asperiores quisquam aliquam earum ipsa.</p>
                      <a href="#premio4">Mas info</a>
                    </section>
                  </li>
                </ul>
            </section>
            <script src="../js/carrusel.js"></script>
        </section>

        <!--Premios-->

        <section class="container">
          <section id="premio1" class="premio">
            <img src="../img/premio1.jpeg" alt="">
            <section class="infoPremio">
              <h1>#1 Ranking Celicidad 2022</h1>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum eos excepturi eum deleniti! Neque deserunt, optio cum repudiandae mollitia fugit debitis eos in illum natus, asperiores quisquam aliquam earum ipsa.</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum eos excepturi eum deleniti! Neque deserunt, optio cum repudiandae mollitia fugit debitis eos in illum natus, asperiores quisquam aliquam earum ipsa.</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum eos excepturi eum deleniti! Neque deserunt, optio cum repudiandae mollitia fugit debitis eos in illum natus, asperiores quisquam aliquam earum ipsa.</p>
            </section>
          </section>
        </section>

        <section class="container">
          <section id="premio2" class="premio">
            <img src="../img/premio2.jpg" alt="">
            <section class="infoPremio">
              <h1>#1 Ranking Celicidad 2022</h1>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum eos excepturi eum deleniti! Neque deserunt, optio cum repudiandae mollitia fugit debitis eos in illum natus, asperiores quisquam aliquam earum ipsa.</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum eos excepturi eum deleniti! Neque deserunt, optio cum repudiandae mollitia fugit debitis eos in illum natus, asperiores quisquam aliquam earum ipsa.</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum eos excepturi eum deleniti! Neque deserunt, optio cum repudiandae mollitia fugit debitis eos in illum natus, asperiores quisquam aliquam earum ipsa.</p>
            </section>
          </section>
        </section>

        <section class="container">
          <section id="premio3" class="premio">
            <img src="../img/premio3.jpeg" alt="">
            <section class="infoPremio">
              <h1>#1 Ranking Celicidad 2022</h1>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum eos excepturi eum deleniti! Neque deserunt, optio cum repudiandae mollitia fugit debitis eos in illum natus, asperiores quisquam aliquam earum ipsa.</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum eos excepturi eum deleniti! Neque deserunt, optio cum repudiandae mollitia fugit debitis eos in illum natus, asperiores quisquam aliquam earum ipsa.</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum eos excepturi eum deleniti! Neque deserunt, optio cum repudiandae mollitia fugit debitis eos in illum natus, asperiores quisquam aliquam earum ipsa.</p>
            </section>
          </section>
        </section>

        <section class="container">
          <section id="premio4" class="premio">
            <img src="../img/premio4.jpeg" alt="">
            <section class="infoPremio">
              <h1>#1 Ranking Celicidad 2022</h1>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum eos excepturi eum deleniti! Neque deserunt, optio cum repudiandae mollitia fugit debitis eos in illum natus, asperiores quisquam aliquam earum ipsa.</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum eos excepturi eum deleniti! Neque deserunt, optio cum repudiandae mollitia fugit debitis eos in illum natus, asperiores quisquam aliquam earum ipsa.</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum eos excepturi eum deleniti! Neque deserunt, optio cum repudiandae mollitia fugit debitis eos in illum natus, asperiores quisquam aliquam earum ipsa.</p>
            </section>
          </section>
        </section>

        <footer th:insert="footer::footer"></footer>
    </section>
    <script src="../js/darkmode.js"></script>
</body>
</html>